/arfna-backend/target/
/server/target/
/api-service/target/
/arfna-main/target/
/api-service/src/main/resources/META-INF
*.idea
*.log
*hibernate.cfg.xml
/arfna-backend/src/main/resources/org.arfna.util.security/credentials.json
